#another_one {
    height:783px;
    padding-top:20px;
    float:right;
    width:500px;
}

#anotheranother_one {
    height:783px;
    padding-top:20px;
    float:left;
    width:500px;
}

button {
    background-image:
}